<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get pain tolerance 2: 2
you get senses 2: 2
you get focus -1: -1
they get rage -1: 1
you need <=3 pain tolerance: -2.0
reaction: 0.5
activate on their strike type smack (are smack/smashing you): -2

total: 0.5">
                <span class="card-name">Analytic Reappraisal</span>
                
            </div>
            
                <i class="card-category">Reaction</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/analytic-reappraisal.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='reaction card-desc'>If you have <span class='pain tolerance status'><=3 pain tolerance</span>
while they are <b class='smack'>smack</b>/<b class='smash'>smash</b>ing you:
<hr>You get <span class='pain tolerance status'><span class='plus'>+2</span> pain tolerance</span>, <span class='senses status'><span class='plus'>+2</span> senses</span>, <span class='focus status'><span class='minus'>‑1</span> focus</span>
<hr>They get <span class='rage status'><span class='minus'>‑1</span> rage</span> </span>
        </div>
        <div class="card-footer">"Pain is only a sensation." ~ FarFar Karlsson</div>
        
    </div>

    </div>
  </body>
</html>