<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus -1: -1
they get blood -2: 2
they get pain tolerance -2: 2
your strike type smash (smash anything into the top corner of their hip): -3
your target hip (smash anything into the top corner of their hip): -0.5

total: -0.5">
                <span class="card-name">Batter Kidney</span>
                
            </div>
            
                <i class="card-category">Strike</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/batter-kidney.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='strike card-desc'>If you <b class='smash'>smash</b> anything into the top corner of their hip:
<hr>You get <span class='focus status'><span class='minus'>‑1</span> focus</span>
<hr>They get <span class='blood status'><span class='minus'>‑2</span> blood</span>, <span class='pain tolerance status'><span class='minus'>‑2</span> pain tolerance</span> </span>
        </div>
        <div class="card-footer">"He went to the hospital with bleeding kidneys.
I went dancing with my wife." ~ George Chuvalo</div>
        
    </div>

    </div>
  </body>
</html>