<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get dignity -1: -1
you get stamina 2: 2
they get focus -1: 1
they get rage -1: 1
your stance sitting (are sitting): -2
your strike type touch (touch both flat palms together): -1

total: 0">
                <span class="card-name">Beg And Plead</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/beg-and-plead.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>If you are <b class='sitting'>sitting</b> or <b class='crouching'>crouching</b>
and <b class='touch'>touch</b> both <b class='flat palm'>flat palm</b>s together:
<hr>You get <span class='stamina status'><span class='plus'>+2</span> stamina</span>, <span class='dignity status'><span class='minus'>‑1</span> dignity</span>
<hr>They get <span class='focus status'><span class='minus'>‑1</span> focus</span>, <span class='rage status'><span class='minus'>‑1</span> rage</span> </span>
        </div>
        <div class="card-footer">"Man, the living creature, the creating individual, is always more important than any established style or system." ~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>