<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Blood Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Time begins to slow,
your frenzied fists freezing in place.

Your body aches,
like a spring coiled too tightly.
Your heartbeat races
as if straining to hold you together.

Then cold wind brings frost, and the chill
blows transparent through you.
One last straw, too much for your poor heart.

Its marching trot becomes a panicked gallop,
an arrhythmia sending staccato stabs of pain.

Your hand gropes at your chest, as if to
massage the blood back into your veins,
or squeeze a fresh batch from your marrow.

But a wave of exhaustion crashes into your mind,
you are tossed, bobbing in dark, choppy waters.

A rising panic becomes a tumbling resignation.
Tachycardia to Bradycardia.
Your 'will' draining out of you like all other fluids.
Before you plunge into the deep. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>