<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Blood Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>A drip, a cupful, a river.
Your warmth spilling sweetly
onto the cold, uncaring ground.

A scarlet gardener - wasteful and merry
using up your every drop of fallow land.

Your wild-drum heart keeps you standing,
keeps you clutching at your wounds,
but already you feel your grip start to slacken.

As blood leeks out through your pressed fingers,
so too does your consciousness leek out
of your failing grasp on reality.

You try to draw your mind away
from the red-gold spilling at you feet
- and back to the hand you've been dealt.
How do we play these cards,
and still wake up tomorrow?

But your vision has become a pinpoint,
and your body topples back in freefall.

Its not up to you any more.
Now its up to them. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>