<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Blood Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>A droplet of sweat crawls down your spine.
It feels cold. Perspiration beads over you
like dew after the last summer day.

Where did all this <i> gore </i> come from?
Who's blood is this?

Red ink drips into your eye, contorting
your sight with circus visuals.
This viscera lavalamp causes you to stumble.
Was blood always this cartoonist bright?

An innocent sunlight radiates over you.
You breaths come in short, rabbit-like gasps.
Your wobbly steps are light,
your knees weak as a newborn fawn's.

"It's all going to be okay."
you think, as you buckle and collapse.
But all thoughts are gone
before you hit the ground. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>