<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses 1: 1
you get stamina 1: 1
they get focus -1: 1
your stance standing (standing): -1
your target hand (both hands are fists): 0
you need >=4 focus: -1.5
 was moved (your torso was moved this turn): -1
your target torso (your torso was moved this turn): 0

total: -0.5">
                <span class="card-name">Bob And Weave</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/bob-and-weave.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>If you <b class='standing'>standing</b> or <b class='crouching'>crouching</b>
and both hands are <b class='fist'>fist</b>s
and have <span class='focus status'>>=4 focus</span>
and your torso was moved this turn:
<hr>You get <span class='stamina status'><span class='plus'>+1</span> stamina</span>, <span class='senses status'><span class='plus'>+1</span> senses</span>
<hr>They get <span class='focus status'><span class='minus'>‑1</span> focus</span> </span>
        </div>
        <div class="card-footer">"Do not allow negative thoughts to enter your mind for they are the weeds that strangle confidence." ~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>