<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="they get focus -1: 1
 to a prone (lower them to a prone position.): 2
your stance airborne (are airborne): -2
your strike type smack (smack your torso into them anywhere): -2
your target anywhere (anywhere): 1

total: 0">
                <span class="card-name">Cannon Ball</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/cannon-ball.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you are <b class='airborne'>airborne</b>
and <b class='smack'>smack</b> your torso into them anywhere:
<hr>They get <span class='focus status'><span class='minus'>‑1</span> focus</span>
<hr>Rotate and lower them to a <b class='prone'>prone</b> position. </span>
        </div>
        <div class="card-footer">"I'm not God, but I am something similar."
~ Roberto Duran</div>
        
    </div>

    </div>
  </body>
</html>