<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="they get oxygen -1: 1
they get senses -1: 1
 to a prone (yourself to a prone position.
Any part on the ground tries to stay in place.): 2
your stance standing (are standing): -1
your strike type touch (touch a grasp hand to their neck): -1
your target neck (neck): -1
you need >=4 stamina: -1.5

total: -0.5">
                <span class="card-name">Choke Slam</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/choke-slam.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you are <b class='standing'>standing</b>
and <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to their neck
and have <span class='stamina status'>>=4 stamina</span>:
<hr>They get <span class='oxygen status'><span class='minus'>‑1</span> oxygen</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span>
<hr>Move them and yourself to a <b class='prone'>prone</b> position.
Any part on the ground tries to stay in <b class='place'>place</b>. </span>
        </div>
        <div class="card-footer">"No one makes it out of this sport
without taking an ass whoopin." ~ Nick Diaz</div>
        
    </div>

    </div>
  </body>
</html>