<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus -1: -1
you get pain tolerance 1: 1
they get oxygen -2: 2
they get rage -2: 2
your strike type touch (touch a forearm to their neck): -1
your target neck (neck): -1
their stance prone (are prone): -2

total: 0">
                <span class="card-name">Clock Choke</span>
                
            </div>
            
                <i class="card-category">Grapple</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/clock-choke.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='grapple card-desc'>If you <b class='touch'>touch</b> a forearm to their neck
while they are <b class='prone'>prone</b>:
<hr>You get <span class='pain tolerance status'><span class='plus'>+1</span> pain tolerance</span>, <span class='focus status'><span class='minus'>‑1</span> focus</span>
<hr>They get <span class='rage status'><span class='minus'>‑2</span> rage</span>, <span class='oxygen status'><span class='minus'>‑2</span> oxygen</span> </span>
        </div>
        <div class="card-footer">"I swear it upon Zeus: even an outstanding runner cannot be the equal of an average wrestler." ~ Socrates</div>
        
    </div>

    </div>
  </body>
</html>