<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Contact Rules</span>
                
            </div>
            
                <i class="card-category">Rule</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/contact-rules.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='rule card-desc'>Most cards require some kind of contact. <b class='smack'>smack</b>/<b class='smash'>smash</b> require that the limb has moved during this turn to get to it's destination:<hr><b class='smack'>smack</b> ‑ moved at least a forearm‑length
<b class='smash'>smash</b> ‑ moved at least a limb‑length 
<i class='reminder'>a <b class='smack'>smack</b>/<b class='smash'>smash</b> can only be 'claimed' on one card,
i.e, you can't simultaneously Knuckle Strike and Bloody Nose.</i> </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>