<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get dignity 1: 1
you get blood 1: 1
they get oxygen -2: 2
your strike type touch (touch one foot to their chest): -1
your target chest (chest): -0.5
your target torso (your hips are over their torso): 0
their stance prone (prone): -2

total: 0.5">
                <span class="card-name">Crush Pedistal</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/crush-pedistal.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>If you <b class='touch'>touch</b> one foot to their chest
and your hips are over their torso
while they <b class='prone'>prone</b> or <b class='sitting'>sitting</b>:
<hr>You get <span class='dignity status'><span class='plus'>+1</span> dignity</span>, <span class='blood status'><span class='plus'>+1</span> blood</span>
<hr>They get <span class='oxygen status'><span class='minus'>‑2</span> oxygen</span> </span>
        </div>
        <div class="card-footer">"If we fight for money, I'll stop hitting you when you ask me to.
If we fight for honor, I'll stop when I feel like it." ~ Rickson Gracie</div>
        
    </div>

    </div>
  </body>
</html>