<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Dignity Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>That bastard. They'll pay.
Here we go, a clean opening
- your nails flash, and bicep flexes -
this is going to be <i>devastating</i>.
A sneering smile begins to spread
across your lips - but is halted.

Somewhere inside you,
a child tugs at your sleeve.

A stunned grunt leaps from your throat.
Of course, the youth has your face,
not bruised from combat,
uncontorted by time.

They don't say anything.
But their whole, tiny form <i>pleads.</i>

You can see their eyes,
as if level with your own.
Scleras unimaginably white.
Pupils unbearably dark.

Together, you cry. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>