<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Dignity Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Inside you rings the sound of snapping chains.
With one hand, you grope and claw,
with the other, you throw a rhythmic fury of blows.
Teeth gnaw, ribid lips pull and curl.
Blood spatters into your eye,
momentarily waking you from your animalism.
Blinking, you peer down to survey your enemy,
and see one thing:

A look of steel defiance.

You pull back, eyes darting,
head snapping, hairs on your nape erect.
A distant siren rings in you mind
like the gong of the apocalypse.

What are you doing?!
You fucked up. You fucked up BIG.

You break off into a crouching run,
shoes squeaking, heart in a fluttery panic.

You have a while until the regret sets in.
But you already feel its weight above you
like a great thundercloud,
opaque as wine-colored velvet. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>