<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Dignity Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>You raise a fist to eye level, shielding your face.

And there you see it:
the ugly split knuckle,
oozing thick blood-drops like fat leeches.
Sweat welling in fine, matted metacarpal hairs
like oil fires on a war-blasted desert.

Minutes ago you traded fine fingers
and pressed cuticles for these
despicable crooked digits and cracked nails.

What kind of worship leaves the temple this way?

You expectorate blood from your mouth,
and the spit lands upon your name.

Your honor crunches beneath you feet like glass.
The shards of your decency digging their way
into the dirty flesh of your sole.

A nausea grows slowly inside, not to be
soothed by soft food, nor expunged by retching.

It too, buries itself within your bruised body,
promising to painfully resurface each morning
when you look in the mirror. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>