<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Dignity Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>A dull ache in your fists preludes
a rising feeling of satisfaction.
But the aftertaste is... not as pleasant.

"This is why everyone despises you."
The thought lances through you.
"You're worthless. A waste."
Each word feels like a perforating bullet,
cold wind rushes into the wounds.

"They'll mock you for this. They'll deserve to."
Your ego reels, scanning your battered
opponent for evidence of your dominance.
But like Icarus, each self-sooth is followed
by a dizzying fall.

"The repercussions will <i>unmake you.</i>"
You take a step back.
"How can everyone bear to be burdened by you?"
You turn your face away, squinting.
"How much longer can you dare to burden them?"
Your tearducts tickle.
But the rain feels undeserved.

"And now you'll run. Like you always do." </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>