<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get stamina -1: -1
they get blood -1: 1
 move their hips (You can move their hips a limb-length away.
Any part on the ground tries to stay in place.): 3
your strike type smash (smash a foot into their hip): -3
your target hip (hip): -0.5

total: -0.5">
                <span class="card-name">Door Kick</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/door-kick.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you <b class='smash'>smash</b> a foot into their hip:
<hr>You get <span class='stamina status'><span class='minus'>‑1</span> stamina</span>
<hr>They get <span class='blood status'><span class='minus'>‑1</span> blood</span>
<hr>You can move their hips a limb‑length away.
Any part on the ground tries to stay in <b class='place'>place</b>. </span>
        </div>
        <div class="card-footer">"I made a lot of mistakes out of the ring,
but I never made any in it." ~ Jack Johnson</div>
        
    </div>

    </div>
  </body>
</html>