<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get stamina -1: -1
you get dignity -1: -1
they get pain tolerance 1: -1
they get blood -2: 2
they get stamina -1: 1
your strike type touch (can touch a grasp hand to them anywhere): -1
your target anywhere (anywhere): 1
reaction: 0.5
activate on their strike type touch (are touch/smack/smashing you): -1

total: -0.5">
                <span class="card-name">Drag Nails</span>
                
            </div>
            
                <i class="card-category">Reaction</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/drag-nails.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='reaction card-desc'>If you can <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to them anywhere
while they are <b class='touch'>touch</b>/<b class='smack'>smack</b>/<b class='smash'>smash</b>ing you:
<hr>You get <span class='dignity status'><span class='minus'>‑1</span> dignity</span>, <span class='stamina status'><span class='minus'>‑1</span> stamina</span>
<hr>They get <span class='pain tolerance status'><span class='plus'>+1</span> pain tolerance</span>, <span class='stamina status'><span class='minus'>‑1</span> stamina</span>, <span class='blood status'><span class='minus'>‑2</span> blood</span> </span>
        </div>
        <div class="card-footer">"Victory is reserved for those who are willing to pay its price."
~ Sun Tzu</div>
        
    </div>

    </div>
  </body>
</html>