<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get rage 1: 1
you get blood 1: 1
they get rage 1: -1
they get blood 1: -1

total: 0">
                <span class="card-name">Feed Off</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/feed-off.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>You get <span class='rage status'><span class='plus'>+1</span> rage</span>, <span class='blood status'><span class='plus'>+1</span> blood</span>
<hr>They get <span class='rage status'><span class='plus'>+1</span> rage</span>, <span class='blood status'><span class='plus'>+1</span> blood</span> </span>
        </div>
        <div class="card-footer">"I speak the language of violence,
but I'm also pretty good with words." ~ Jon Moxley</div>
        
    </div>

    </div>
  </body>
</html>