<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Fight Ignition</span>
                
            </div>
            
                <i class="card-category">Rule</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/fight-ignition.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='rule card-desc'>Lay out these <b>Rule</b> reminder cards on the table
        <b> To start playing, each player should: </b>
        * Draw <b>9</b> Action Cards
        * Lay, face down, one of each Loss Card (8 total)
        * Place a d6 on each Loss Card, all starting at <b>6</b>
        * Place your figure in the stand, upright,
        with hands/arms however you like.
        <i class='reminder'> Whichever player has the biggest bruise goes first.
        If neither is bruised, whomever bled last. </i> </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>