<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses -1: -1
they get oxygen -2: 2
they get focus -1: 1
they get stamina -2: 2
your strike type smash (can smash your fist into their torso): -3
your target torso (torso): 0
reaction: 0.5
activate on their strike type smack (are smacking/smashing you): -2

total: -0.5">
                <span class="card-name">Firm Repost</span>
                
            </div>
            
                <i class="card-category">Reaction</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/firm-repost.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='reaction card-desc'>If you can <b class='smash'>smash</b> your <b class='fist'>fist</b> into their torso
while they are <b class='smack'>smack</b>ing/<b class='smash'>smash</b>ing you:
<hr>You get <span class='senses status'><span class='minus'>‑1</span> senses</span>
<hr>They get <span class='focus status'><span class='minus'>‑1</span> focus</span>, <span class='stamina status'><span class='minus'>‑2</span> stamina</span>, <span class='oxygen status'><span class='minus'>‑2</span> oxygen</span> </span>
        </div>
        <div class="card-footer">"Every battle scars, but also shapes." ~ Nero Voss*</div>
        
    </div>

    </div>
  </body>
</html>