<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Focus Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Something is wrong.
Something is terribly, deathly wrong.
'You are going to die. You are dying. You are dead.'

Agony drills into your heart,
then shoots down your left arm,
as if driven home by twenty blasts
of a nail gun.

Your heart spikes the pressure,
a throbbing drums at your ears,
and squeezes tears from your eyes.

No more, please. No more.
'You are dying. You are dying.'

Part of you know it's not true -
bruised, yes, and you will ache tomorrow.
But that little voice
is engulfed by monochrome flame.

In a few hours, you will wonder what happened,
where it was that your mind went.

But right now, you are <i>there</i>.
Right now, you can never leave.
'You are going to die. You are dead.' </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>