<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Focus Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Your jaw slackens, fists loosen, and eyes swim.
Your purpled lips droop into an ischemic smirk.

Suddenly, a fist appears, teleporting hard
into your soft flesh. Then another.
Pain does not emanate from the blows,
but numbness. And confusion.

Great bruises bloom like hungry wildflowers.
How did those get there?

You move sharply, as if to block,
but only serve to collide your
elbow bone and hip. Whoops.

Deep in your mind a referee stamps,
and blows his whistle hoarse.
But the alarm is smothered by a
child-cloud that envelopes you.

How did I get here? The white noise is warm.

It will be a while until you recognize
they are calling your name.

It will be longer until you recognize
the battered face in the mirror. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>