<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Focus Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Panic rattles its cage.
You've kept it locked up so far,
but the warden is battered, and tired.
And the beast has only grown.

A moment of lost focus, an instant
and anxiety bursts through its enclosure,
shattering your thoughts as it does.
Roaring thunders in your ears,
and weakens your legs.
It drags its claws across the backs of your eyes.

You stood on the ledge too long,
looking down into the abyss.
Now your mind if tipping, teetering, toppling.
You cast a hand out: to courage, to rationality
- but they are not there.
Perhaps cajoling panic back into its cage.
Perhaps dead under its paw.

Derealization lies below,
the only thing waiting to catch you.
And so you close your eyes, and plummet. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>