<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Focus Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Okay, hold on. Just. Hold on.

Your mind reels, gripping itself tightly.
Thoughts orbit and crash into eachother,
Strategy, proprioception, and instinct
topple out of your reach,
and shatter on the floor of your skull.

'Keep it together.' part of you says.
'Fuck you.' responds the rest.

And with that declaration,
the fighting spirit within you deflates.
It rolls of the table, and explodes
into glittering shards.

Your reasoning becomes a madhouse highway:
idle-musings plow headlong into somatic-alarms,
egoistic-shame T-bones self-preservation.
A hundred perceptions, notions, and convictions
piled high into a burning pyre.

Who knows what's happening to your body now.
Who cares. You're done. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>