<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus 1: 1
they get senses 1: -1
they get pain tolerance -1: 1
your strike type smack (smack a foot into them anywhere): -2
your target anywhere (anywhere): 1

total: 0">
                <span class="card-name">Foot Strike</span>
                
            </div>
            
                <i class="card-category">Strike</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/foot-strike.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='strike card-desc'>If you <b class='smack'>smack</b> a foot into them anywhere:
<hr>You get <span class='focus status'><span class='plus'>+1</span> focus</span>
<hr>They get <span class='senses status'><span class='plus'>+1</span> senses</span>, <span class='pain tolerance status'><span class='minus'>‑1</span> pain tolerance</span> </span>
        </div>
        <div class="card-footer">"Fear not who has practiced 10,000 kicks once,
but who has practiced one kick 10,000 times."
~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>