<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get stamina 1: 1
they get rage -3: 3
your stance prone (are not prone): -2
 -level (have both hands on-level): -0.5
your target hand (have both hands on-level): 0
they need >=5 rage: -2.0

total: -0.5">
                <span class="card-name">Goading Chin</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/goading-chin.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>If you are not <b class='prone'>prone</b>
and have both hands on‑level or below their elbow
while they have <span class='rage status'>>=5 rage</span>:
<hr>You get <span class='stamina status'><span class='plus'>+1</span> stamina</span>
<hr>They get <span class='rage status'><span class='minus'>‑3</span> rage</span> </span>
        </div>
        <div class="card-footer">"You're just an average bloke,
I'm a fucking samurai." ~ Luke Rockhold</div>
        
    </div>

    </div>
  </body>
</html>