<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get blood 1: 1
you get pain tolerance 1: 1
your stance crouching (are crouching, sitting, prone,): -1
you need >=3 oxygen: -1.0

total: 0.0">
                <span class="card-name">Gutteral Sob</span>
                
            </div>
            
                <i class="card-category">Pose</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/gutteral-sob.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='pose card-desc'>If you are <b class='crouching'>crouching</b>, <b class='sitting'>sitting</b>, <b class='prone'>prone</b>, or <b class='off balance'>off balance</b>
and have <span class='oxygen status'>>=3 oxygen</span>:
<hr>You get <span class='blood status'><span class='plus'>+1</span> blood</span>, <span class='pain tolerance status'><span class='plus'>+1</span> pain tolerance</span> </span>
        </div>
        <div class="card-footer">"It's only pain. It will not hurt you." ~ Bas Rutten</div>
        
    </div>

    </div>
  </body>
</html>