<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="they get blood -1: 1
they get pain tolerance -1: 1
your strike type smash (smash a fist into them anywhere): -3
your target anywhere (anywhere): 1

total: 0">
                <span class="card-name">Haymaker</span>
                
            </div>
            
                <i class="card-category">Strike</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/haymaker.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='strike card-desc'>If you <b class='smash'>smash</b> a <b class='fist'>fist</b> into them anywhere:
<hr>They get <span class='blood status'><span class='minus'>‑1</span> blood</span>, <span class='pain tolerance status'><span class='minus'>‑1</span> pain tolerance</span> </span>
        </div>
        <div class="card-footer">"Sure the fight was fixed. I fixed it with a right hand."
~ George Foreman</div>
        
    </div>

    </div>
  </body>
</html>