<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get blood 1: 1
you get rage 1: 1
you get senses -1: -1
they get blood -2: 2
they get senses -1: 1
your strike type smack (smack you head into their head): -2
your target head (head): -0.5
your stance off balance (are off balance): -1

total: 0.5">
                <span class="card-name">Head Harpoon</span>
                
            </div>
            
                <i class="card-category">Strike</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/head-harpoon.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='strike card-desc'>If you <b class='smack'>smack</b> you head into their head
and are <b class='off balance'>off balance</b> or <b class='airborne'>airborne</b>:
<hr>You get <span class='rage status'><span class='plus'>+1</span> rage</span>, <span class='blood status'><span class='plus'>+1</span> blood</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span>
<hr>They get <span class='blood status'><span class='minus'>‑2</span> blood</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span> </span>
        </div>
        <div class="card-footer">"Power is not revealed by striking hard or often,
but by striking true" ~ Balzac</div>
        
    </div>

    </div>
  </body>
</html>