<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses 1: 1
you get stamina 1: 1
they get senses 1: -1
they get focus 1: -1
 move your hips (Move your hips a limb-length away): 2
your stance crouching (are crouching, sitting,): -1
your strike type touch (touch a foot to their torso): -1
your target torso (torso): 0

total: 0">
                <span class="card-name">Kick Back</span>
                
            </div>
            
                <i class="card-category">Movement</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/kick-back.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='movement card-desc'>If you are <b class='crouching'>crouching</b>, <b class='sitting'>sitting</b>, or <b class='prone'>prone</b>
and <b class='touch'>touch</b> a foot to their torso:
<hr>You get <span class='stamina status'><span class='plus'>+1</span> stamina</span>, <span class='senses status'><span class='plus'>+1</span> senses</span>
<hr>They get <span class='focus status'><span class='plus'>+1</span> focus</span>, <span class='senses status'><span class='plus'>+1</span> senses</span>
<hr>Move your hips a limb‑length away </span>
        </div>
        <div class="card-footer">"A warrior never worries about his fear." ~ Carlos Castaneda</div>
        
    </div>

    </div>
  </body>
</html>