<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get stamina -1: -1
you get dignity 2: 2
you get oxygen 1: 1
 move your hips (Move your hips a limb-length up, keeping your feet on the ground): 2
your stance prone (are prone): -2
your strike type touch (touch both hands to the ground): -1
your target hand (touch both hands to the ground): 0
your strike type touch (them are not touching): -1
 not touching (them are not touching): -0.5

total: -0.5">
                <span class="card-name">Kip Up</span>
                
            </div>
            
                <i class="card-category">Movement</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/kip-up.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='movement card-desc'>If you are <b class='prone'>prone</b>
and <b class='touch'>touch</b> both hands to the ground
and you and them are not <b class='touch'>touch</b>ing:
<hr>You get <span class='dignity status'><span class='plus'>+2</span> dignity</span>, <span class='oxygen status'><span class='plus'>+1</span> oxygen</span>, <span class='stamina status'><span class='minus'>‑1</span> stamina</span>
<hr>Move your hips a limb‑length up, keeping your feet on the ground </span>
        </div>
        <div class="card-footer">"The spirit of a warrior never breaks, it only bends."
~ Sable Nightshade*</div>
        
    </div>

    </div>
  </body>
</html>