<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get oxygen -1: -1
they get rage -1: 1
they get senses -1: 1
 to a prone (yourself to a prone position.
Any parts on the ground try to stay in place.): 2
you need >=4 stamina: -1.5
your stance crouching (are crouching): -1
your target hand (have both grasp hands infront of your chest): 0

total: 0.5">
                <span class="card-name">Leaping Tackle</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/leaping-tackle.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you are <b class='crouching'>crouching</b> and have <span class='stamina status'>>=4 stamina</span>
and have both <b class='grasp hand'>grasp hand</b>s infront of your chest:
<hr>You get <span class='oxygen status'><span class='minus'>‑1</span> oxygen</span>
<hr>They get <span class='rage status'><span class='minus'>‑1</span> rage</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span>
<hr>Move them and yourself to a <b class='prone'>prone</b> position.
Any parts on the ground try to stay in <b class='place'>place</b>. </span>
        </div>
        <div class="card-footer">"You better give your soul to the lord,
cause your ass belongs to me." - Undertaker</div>
        
    </div>

    </div>
  </body>
</html>