<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get oxygen 1: 1
you get pain tolerance 1: 1
they get pain tolerance -1: 1
they get stamina -1: 1
your strike type sandwich (sandwich their leg): -3
your target hip (hips between your thighs): -0.5
your strike type touch (touch a grasp hand to their calf): -1
your target calf (calf): 0

total: -0.5">
                <span class="card-name">Leg Lock</span>
                
            </div>
            
                <i class="card-category">Grapple</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/leg-lock.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='grapple card-desc'>If you <b class='sandwich'>sandwich</b> their leg or hips between your thighs
and <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to their calf or foot:
<hr>You get <span class='oxygen status'><span class='plus'>+1</span> oxygen</span>, <span class='pain tolerance status'><span class='plus'>+1</span> pain tolerance</span>
<hr>They get <span class='stamina status'><span class='minus'>‑1</span> stamina</span>, <span class='pain tolerance status'><span class='minus'>‑1</span> pain tolerance</span> </span>
        </div>
        <div class="card-footer">"The more you sweat in peace, the less you bleed in war." 
~ Norman Schwarzkopf</div>
        
    </div>

    </div>
  </body>
</html>