<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses 1: 1
you get oxygen 1: 1
they get blood 1: -1
 to a prone (If they are off balance,
move them to a prone position.): 2
extra req off balance (if they are off balance): -1
your strike type touch (touch a flat palm to their torso): -1
your target torso (torso): 0
their stance standing (are standing, crouching,): -1

total: 0">
                <span class="card-name">Light Shove</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/light-shove.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you <b class='touch'>touch</b> a <b class='flat palm'>flat palm</b> to their torso
while they are <b class='standing'>standing</b>, <b class='crouching'>crouching</b>, or <b class='off balance'>off balance</b>:
<hr>You get <span class='oxygen status'><span class='plus'>+1</span> oxygen</span>, <span class='senses status'><span class='plus'>+1</span> senses</span>
<hr>They get <span class='blood status'><span class='plus'>+1</span> blood</span>
<hr>If they are <b class='off balance'>off balance</b>,
move them to a <b class='prone'>prone</b> position. </span>
        </div>
        <div class="card-footer">"Obstacles cannot crush me;
every obstacle yields to stern resolve"
~ Leonardo Da Vinci</div>
        
    </div>

    </div>
  </body>
</html>