<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses 1: 1
you get rage -1: -1
they get dignity -1: 1
your stance crouching (are crouching, with feet parallel): -1
your target hand (have both hands at): 0

total: 0">
                <span class="card-name">Mabu</span>
                
            </div>
            
                <i class="card-category">Pose</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/mabu.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='pose card-desc'>If you are <b class='crouching'>crouching</b>, with feet parallel
and have both hands at or below your waist:
<hr>You get <span class='senses status'><span class='plus'>+1</span> senses</span>, <span class='rage status'><span class='minus'>‑1</span> rage</span>
<hr>They get <span class='dignity status'><span class='minus'>‑1</span> dignity</span> </span>
        </div>
        <div class="card-footer">"A wise man can learn more from a foolish question
than a fool can learn from a wise answer." ~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>