<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Oxygen Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>You hammer at your tight chest,
like a desperate miner, each breath a pickaxe.
Each straining pull brings no air, no relief
- only another sharp blow deep in your diaphragm.

The sweet sounds of the world are lost
to the squeal of grinding stone.
A sepia-gray is spilled onto your sight,
and tears well up in in your bottom eyelids
the colors of the world washing out in the rain.

Numbness emerges from the depths,
crawling like so many thousand black insects.
Up your leg, under your pants. Within you.
They mount a surrounding-siege of your brain.

They've taken your lungs. They riot in your nerves.
They are coming for your mind.

All you can do is <i> grip </i> your identity.
Sights and sounds dissapear beneath the
horde of tiny coal devils.
All you have is you.

You must hold off the darkness. You must. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>