<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Oxygen Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Sip each tiny breath, the burps of cool, teal air
finding their way to desperate, blackening lungs.
Your lips are witted with the anticipation,
Every breath is a poltergeist:
it brigs sensation, but is unable to be grasped.

The Norns are undoing the world,
pulling at the threads.
Sound is replaced with distant siren-song.
Reality softens, and frays.

You fumble, tumble,
your legs weakly informing you
that you must be standing on sand.

But no - there is the ground,
greeting you hard and sudden.
The bruising fall feels somehow muffled,
the asphalt like thick, warm velvet beneath you.

There is a last moment of lucidity, of panic,
of eyes-wide, leg-kicking, rabid-rabid fight.
It is quickly subsumed by the yawning void. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>