<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Oxygen Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>The muscles in your neck tense,
and churn, your diaphragm writhes.
Your face feels hot, pink,
and saliva is pooling by your esophagus.

Satisfaction seems an alien planet.
Struggling resignation feels like home.

You mouth chews dumbly. A tingle rises
along the inside of each arm,
a gray vignette pulls at the edge of your vision,
both growing with each
thump of your haggard heart.

A moment of dizziness bowls you over
- perhaps you crash to the ground, but of that, you are unaware.
All that remains is the fuzzy grayness,
and even that is descending away from you.

Your vision is a tight, milky cone.
And then it is gone. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>