<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Pain Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>The world blurs with long-exposure,
the agony sending your mind into overdrive.
Your forehead is hot with a hundred calculations,
with the 'fight' and 'flight' and 'freeze' brawling
up and down your spinal column.

'Fight' has held the throne until now.
But it has lost, and is tossed out.

'Freeze' holds you for a moment of serenity.

Then 'flight' grips the controls.

No thought drives you forward - but pain.
Pain, like a whip cracking on your sweaty back.
Pain, like a housefire radiating behind you.
Pain, searing this flashbulb memory-negative forever.

And whenever you taste adrenaline in the future,
you will live this pain again. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>