<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Pain Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Okay, hold on. Blink. Cough. Unclench your jaw.
You got this.

But then another blow knocks stars into your eyes,
and spins you round,
palms landing on the gritty earth.

The warrior within wills you
to turn, to defend yourself,
to guard your face, to rear back for another -

No. No more.

Barley have the words echoed from ear to ear
before you are crawling
-no, pawing
-no, scrambling to get free.

To get away from them,
but to get farther away from yourself.
From the mangled body you choose,
when you choose violence. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>