<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Rage Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>The fire overran within you,
burned up everything inside you,
and filled you with an oily, choking smoke.

And then it snuffed itself out.

One second, you're clenched red,
blood thudding, beating your eardrums.

Now that feels like a million years ago.
The blows continue to land. And you feel them,
their just landing on a body that is no longer yours.

There is a pink quivering in your stomach,
a wet fish on the pier.
It flops on, but it knows that it is done.

You bring a hand to your belly.
The touch is wooden.

You are the dead horse, thoroughly beaten.
They are the cicada sun overhead.
But the heat of their anger begin to cool,
to back off. Shade returns.

And so here you sit, drained.
Numerous aches wait to paddle you tomorrow.
But for now you flop uselessly on. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>