<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Rage Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>You hesitate. Then draw you fist back further.
Then hesitate again.

Are we still doing this?

You've wrung every drop of emotion from
your tattered, lusterless brain.
But your not angry anymore.
Your not disappointed.
Your exhausted. Empty.

A single drop of blood traces your frozen fist.
The dripping sound echos hollowly within you.

The inside of your chest feels sore and vacant.
Someone has scraped every mote of sweet flesh
from the dry, bony husk. That someone was you.

Inside your mind, some part of you lights a torch
to explore the cavernous gloom.
Outside, your face slackens,
taking the palor of dead fish.

A numbness flattens the worldly projection.
The vivid 3d falls to a faded storybook.
Already this waking moment feels
like a discarded memory. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>