<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Rage Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Each thudding blow - yours and theirs -
they all served to harden your heart.
Inside you, a great dam holds back the
roiling sea of emotion.
Kaleidoscopic waters of a thousand emotions,
purple thunderclouds overhead.

Looking down, your eyes meet theirs.
Human connection. Oneness. Sonder. Ubuntu.

Like inverted lightning, a crack splits your
concrete heart.
There is a moment of silence within you.
And then cacophonous empathy
washes over the land.

Your eyes sparkle with fresh tears,
wellsprings cleaning the blood from your cheeks.
Fists unclench to a cradling hold.
Puppet-strings cut, and every muscle softness.

You melt. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>