<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Sensation Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Your eyes snap shut, but the comforting
dark behind your eyelids is missing.
There you find an alarming static,
an intense white-noise.

A fever-pitch ring rises in your ears,
drowning out the world completely.

"I can't..." you mouth, to no one. "I can't!"

Only cruel gravity and gritty palms tell
you you are crawling.
Your hand sweeps dumbly in-front of you, frantic
- what are you searching for?

Then, a swift kick plows into your sternum,
driving the wind out of you.
Your lungs click and gape as you fall
on your side, curling.

In a tight fetal position,
you don't hear their quieting footsteps,
you don't see their smug silhouette walking away.

You sense nothing.
You are alone. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>