<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus 1: 1
you get stamina 1: 1
you get senses 1: 1
they get oxygen 1: -1
you need <=4 rage: -1.5
you need >=3 dignity: -1.0
your target forearm (your torso is <= a forearm-length from theirs): 0

total: -0.5">
                <span class="card-name">Share Air</span>
                
            </div>
            
                <i class="card-category">Pose</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/share-air.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='pose card-desc'>If you have <span class='rage status'><=4 rage</span> and <span class='dignity status'>>=3 dignity</span>
and your torso is <= a forearm‑length from theirs:
<hr>You get <span class='focus status'><span class='plus'>+1</span> focus</span>, <span class='stamina status'><span class='plus'>+1</span> stamina</span>, <span class='senses status'><span class='plus'>+1</span> senses</span>
<hr>They get <span class='oxygen status'><span class='plus'>+1</span> oxygen</span> </span>
        </div>
        <div class="card-footer">"By nature, humans are nearly alike;
by practice, they get to be wide apart." ~ Confucius</div>
        
    </div>

    </div>
  </body>
</html>