<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get oxygen -1: -1
 move their hips (You can move their hips a forearm-length away.
Any part on the ground tries to stay in place.): 3
your strike type smack (smack your torso): -2
your target torso (torso): 0

total: 0">
                <span class="card-name">Shoulder Slam</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/shoulder-slam.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you <b class='smack'>smack</b> your torso or bicep into their torso:
<hr>You get <span class='oxygen status'><span class='minus'>‑1</span> oxygen</span>
<hr>You can move their hips a forearm‑length away.
Any part on the ground tries to stay in <b class='place'>place</b>. </span>
        </div>
        <div class="card-footer">"Act like a man of thought – Think like a man of action."
~ Thomas Mann</div>
        
    </div>

    </div>
  </body>
</html>