<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus -1: -1
 move that limb (You can move that limb any way you like): 3
your strike type smack (smack a flat palm into their forearm): -2
your target forearm (forearm): 0

total: 0">
                <span class="card-name">Slap Away</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/slap-away.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you <b class='smack'>smack</b> a <b class='flat palm'>flat palm</b> into their forearm:
<hr>You get <span class='focus status'><span class='minus'>‑1</span> focus</span>
<hr>You can move that limb any way you like </span>
        </div>
        <div class="card-footer">"It's not the daily increase but daily decrease.
Hack away at the unessential." ~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>