<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus 1: 1
you get stamina 2: 2
you get blood 1: 1
your stance standing (are standing): -1
your strike type touch (touch one hand to your chest): -1
your target chest (chest): -0.5
you need >=4 oxygen: -1.5

total: 0.0">
                <span class="card-name">Slow Breathing</span>
                
            </div>
            
                <i class="card-category">Pose</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/slow-breathing.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='pose card-desc'>If you are <b class='standing'>standing</b> or <b class='crouching'>crouching</b>
and <b class='touch'>touch</b> one hand to your chest
and have <span class='oxygen status'>>=4 oxygen</span>:
<hr>You get <span class='focus status'><span class='plus'>+1</span> focus</span>, <span class='stamina status'><span class='plus'>+2</span> stamina</span>, <span class='blood status'><span class='plus'>+1</span> blood</span> </span>
        </div>
        <div class="card-footer">"Life itself is your teacher,
and you are in a state of constant learning." ~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>