<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get rage 1: 1
they get stamina -1: 1
they get oxygen -1: 1
they get senses -1: 1
your target chest (have your chest above their chest): -0.5
your strike type touch (touch a grasp hand to their face): -1
your target face (face): -0.5
their stance prone (are prone): -2

total: 0.0">
                <span class="card-name">Smothering Face Grope</span>
                
            </div>
            
                <i class="card-category">Grapple</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/smothering-face-grope.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='grapple card-desc'>If you have your chest above their chest
and <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to their face
while they are <b class='prone'>prone</b> or <b class='sitting'>sitting</b>:
<hr>You get <span class='rage status'><span class='plus'>+1</span> rage</span>
<hr>They get <span class='stamina status'><span class='minus'>‑1</span> stamina</span>, <span class='oxygen status'><span class='minus'>‑1</span> oxygen</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span> </span>
        </div>
        <div class="card-footer">"Next time I fight him, I will deform his face." ~ Wanderlei Silva</div>
        
    </div>

    </div>
  </body>
</html>