<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="they get pain tolerance -1: 1
they get blood -1: 1
your strike type smack (smack a fist into them anywhere): -2
your target anywhere (anywhere): 1
 -level (have your elbow on-level with that fist): -0.5

total: 0.5">
                <span class="card-name">Solid Hook</span>
                
            </div>
            
                <i class="card-category">Strike</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/solid-hook.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='strike card-desc'>If you <b class='smack'>smack</b> a <b class='fist'>fist</b> into them anywhere
and have your elbow on‑level with that <b class='fist'>fist</b>:
<hr>They get <span class='blood status'><span class='minus'>‑1</span> blood</span>, <span class='pain tolerance status'><span class='minus'>‑1</span> pain tolerance</span> </span>
        </div>
        <div class="card-footer">"We are what we repeatedly do. Excellence then, is not an act, but a habit" ~ Aristotle</div>
        
    </div>

    </div>
  </body>
</html>