<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get stamina -1: -1
 rotate your (Rotate your character 180 around the hips): 2
your stance standing (are standing, crouching,): -1

total: 0">
                <span class="card-name">Spin</span>
                
            </div>
            
                <i class="card-category">Movement</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/spin.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='movement card-desc'>If you are <b class='standing'>standing</b>, <b class='crouching'>crouching</b>, or <b class='sitting'>sitting</b>:
<hr>You get <span class='stamina status'><span class='minus'>‑1</span> stamina</span>
<hr>Rotate your character 180 around the hips </span>
        </div>
        <div class="card-footer">"There's 3 things in life that excite me. A woman, of course.
Dinosaurs, and the violence of the Octagon" - Georges St-Pierre</div>
        
    </div>

    </div>
  </body>
</html>