<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get focus -1: -1
you get stamina -1: -1
 move that limb (You can move that limb any way you like): 3
your strike type touch (touch a grasp hand to their hand): -1
your target hand (hand): 0

total: 0">
                <span class="card-name">Squeeze Wrist</span>
                
            </div>
            
                <i class="card-category">Control</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/squeeze-wrist.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='control card-desc'>If you <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to their hand or forearm:
<hr>You get <span class='focus status'><span class='minus'>‑1</span> focus</span>, <span class='stamina status'><span class='minus'>‑1</span> stamina</span>
<hr>You can move that limb any way you like </span>
        </div>
        <div class="card-footer">"The best fighter is someone who never has to fight because they control the situation." - Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>