<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Stamina Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Your fingers clamp down,
wrist tucking inward against your will.
Toes curl, and a winching tightness
threatens to fold your calves.

Cramp. Cramp!

A corrosive, yellow pain twangs and twists
along each bundle of muscle fibers.
You feel as if lactic acid will dissolve your insides,
as if taunt tendons will snap your bones,
like an overworked crossbow.

Perhaps flexing will help...
Do you dare?

Of course you do, and the instant
shooting, searing, insufferable pain
debilitates you
with a swiftness no punch could match.

You writhe and yelp with a strange rhythm,
arms flapping, lips curling back.
Like a rusted piece of clockwork,
like a broken cymbal-banging monkey.

Eat a banana next time. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>