<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Stamina Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>You try to lift your arms
- but all energy seems to drip out of them:
the 'chi' streaming like warm piss
down your pits, up your thighs,
collecting in a sickly stomach pool.

It sloshes nauseatingly. Your abs squirm:
contractions giving birth to a desperate collapse.

A wave of cold runs up your genitals,
washing over the whirlpool in your belly.

Acid burping drags razors along your esophagus,
and singes your nostril hairs.
You press your eyes shut, gird your teeth
- but you know it is too late.

The chain-retching threatens to knock your
adams-apple free. To tie your larynx in a knot.

You puke. And puke and puke.
You snap your head to and fro,
stupidly trying to point it somewhere.
But instead of somewhere it goes everywhere.

So yeah. Fight's over. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>