<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Stamina Loss</span>
                
            </div>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='loss card-desc'>Your tongue flicks over dry, craggy lips.
A metallic glue coats the roof of your mouth,
a sagging drags at the bags of your eyes.

Your heart <i>had</i> been racing, but now each pound
comes slower, firmer, and less assured.
A slow locomotive on an rising slope,
a blacksmith falling asleep at the anvil.

The dizzy feeling makes you want to cry,
but your tearducts drink from your eye instead.
You skin feels blotchy, flushed, and cold,
you shake, as if trying to knock leaches free.

You can't fight like this.
It hurts enough just to stand!

Retreat, retreat,
return to the ocean.
Immerse yourself
in the warm womb of the earth. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>