<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses 1: 1
you get pain tolerance 1: 1
you get rage -1: -1
they get dignity -2: 2
your strike type touch (touch one hand to your hip): -1
your target hip (hip): -0.5
they need >=4 rage: -1.5

total: 0.0">
                <span class="card-name">Subtle Taunt</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/subtle-taunt.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>If you <b class='touch'>touch</b> one hand to your hip
while they have <span class='rage status'>>=4 rage</span>:
<hr>You get <span class='pain tolerance status'><span class='plus'>+1</span> pain tolerance</span>, <span class='senses status'><span class='plus'>+1</span> senses</span>, <span class='rage status'><span class='minus'>‑1</span> rage</span>
<hr>They get <span class='dignity status'><span class='minus'>‑2</span> dignity</span> </span>
        </div>
        <div class="card-footer">"For it is easy to criticize and break down the spirit of others, but to know yourself takes a lifetime." ~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>