<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get dignity -1: -1
they get rage -1: 1
your strike type touch (touch a flat palm to them anywhere): -1
your target anywhere (anywhere): 1

total: 0">
                <span class="card-name">Tap Out</span>
                
            </div>
            
                <i class="card-category">Psych Out</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/tap-out.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='psych out card-desc'>If you <b class='touch'>touch</b> a <b class='flat palm'>flat palm</b> to them anywhere:
<hr>You get <span class='dignity status'><span class='minus'>‑1</span> dignity</span>
<hr>They get <span class='rage status'><span class='minus'>‑1</span> rage</span> </span>
        </div>
        <div class="card-footer">"To see a man beaten not by a better opponent
but by himself is a tragedy." ~ Cus D'Amato</div>
        
    </div>

    </div>
  </body>
</html>