<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="they get oxygen -2: 2
they get senses -1: 1
they get dignity 1: -1
your strike type touch (touch both grasp hands to their neck): -1
your target neck (neck): -1

total: 0">
                <span class="card-name">Thumb Strangle</span>
                
            </div>
            
                <i class="card-category">Grapple</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/thumb-strangle.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='grapple card-desc'>If you <b class='touch'>touch</b> both <b class='grasp hand'>grasp hand</b>s to their neck:
<hr>They get <span class='dignity status'><span class='plus'>+1</span> dignity</span>, <span class='oxygen status'><span class='minus'>‑2</span> oxygen</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span> </span>
        </div>
        <div class="card-footer">"Send anyone you want,
but don't send anyone you want back." ~ Chael Sonnen</div>
        
    </div>

    </div>
  </body>
</html>