<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get senses -1: -1
you get pain tolerance -1: -1
 Negate their card (Negate their card's effects on you): 2
your strike type touch (can have your forearm touch their hand): -1
your target forearm (can have your forearm touch their hand): 0
reaction: 0.5
negate their strike type smash (are smacking/smashing with a hand): 0

total: -0.5">
                <span class="card-name">Uke Block</span>
                
            </div>
            
                <i class="card-category">Reaction</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/uke-block.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='reaction card-desc'>If you can have your forearm <b class='touch'>touch</b> their hand
while they are <b class='smack'>smack</b>ing/<b class='smash'>smash</b>ing with a hand:
<hr>You get <span class='pain tolerance status'><span class='minus'>‑1</span> pain tolerance</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span>
<hr>Negate their card's effects on you </span>
        </div>
        <div class="card-footer">"Its tough to get up and fight
if you've been sleeping in silk pajamas." ~ Marvin Hagler</div>
        
    </div>

    </div>
  </body>
</html>