<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get blood 2: 2
you get rage -1: -1
you get focus 1: 1
your stance prone (are prone): -2

total: 0">
                <span class="card-name">Vasoconstrict</span>
                
            </div>
            
                <i class="card-category">Pose</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/vasoconstrict.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='pose card-desc'>If you are <b class='prone'>prone</b>
and at least one limb fully extended:
<hr>You get <span class='focus status'><span class='plus'>+1</span> focus</span>, <span class='blood status'><span class='plus'>+2</span> blood</span>, <span class='rage status'><span class='minus'>‑1</span> rage</span> </span>
        </div>
        <div class="card-footer">"There are no limits. There are plateaus, but you must not stay there, you must go beyond them. If it kills you, it kills you."
~ Bruce Lee</div>
        
    </div>

    </div>
  </body>
</html>