<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="you get stamina 1: 1
you get blood 1: 1
they get rage 1: -1
they get pain tolerance -2: 2
they get senses -1: 1
your strike type touch (touch a grasp hand to their hand): -1
your target hand (hand): 0
your strike type touch (touch a grasp hand to that forearm): -1
your target forearm (forearm): 0
their stance prone (are prone): -2

total: 0">
                <span class="card-name">Wrist Lock</span>
                
            </div>
            
                <i class="card-category">Grapple</i>
            
        </div>
        
            <div style="width: 100%; overflow: hidden;">
                <img src="images/wrist-lock.png" class="card-image">
            </div>
        
        <div class="card-body ">
            <span class='grapple card-desc'>If you <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to their hand
and <b class='touch'>touch</b> a <b class='grasp hand'>grasp hand</b> to that forearm or bicep
while they are <b class='prone'>prone</b>:
<hr>You get <span class='stamina status'><span class='plus'>+1</span> stamina</span>, <span class='blood status'><span class='plus'>+1</span> blood</span>
<hr>They get <span class='rage status'><span class='plus'>+1</span> rage</span>, <span class='pain tolerance status'><span class='minus'>‑2</span> pain tolerance</span>, <span class='senses status'><span class='minus'>‑1</span> senses</span> </span>
        </div>
        <div class="card-footer">"I saw his true color, and that color was yellow" ~ BJ Flores</div>
        
    </div>

    </div>
  </body>
</html>