<!DOCTYPE html>
<html lang="en">
<head>
  <base href="file:///home/zen/my-coding/python/backstreet-brawl/templates/">
  <link rel="stylesheet" type="text/css" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="dark-mode-toggle.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <body style="margin: 0px;">
    
    <div class="cards-container">
      
    
    
    
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="

total: 0">
                <span class="card-name">Your Turn</span>
                
            </div>
            
                <i class="card-category">Rule</i>
            
        </div>
        
            <div style="height: 3.7em"></div>
        
        <div class="card-body long-desc">
            <span class='rule card-desc'><b> Start your turn: </b>
        * Draw until you have <b>9</b> cards
        * Check <b>Keep Breathing</b> to see how much stamina/focus you recover
        * If you are <b class='airborne'>airborne</b>, move downwards until some part of you <b class='touch'>touch</b>es the ground
        <i class='reminder'>You can, however, be <b class='airborne'>airborne</b> during and after your turn
        (and thus during your opponent's)</i>
        <hr><b> During your turn: </b>
        * Use stamina/focus to <b>Move Limb</b>s/<b>Switch Grip</b>
        * Play as many cards as you like
        <hr><b> During theirs: </b>
        * Discard any cards you don't want
        * <b>Reaction</b> cards are played in response to an opponent's card
        <i class='reminder'> Some may require you to <b>Move Limb</b>s/<b>Switch Grip</b>
        ‑ which still costs stamina/focus. </i>
        <hr> Stats cannot be raised above <b>6</b>
        Fight ends when any status is reduced to <b class='minus'>0</b>:
        Flip over that Loss Card, and read out your defeat. </span>
        </div>
        <div class="card-footer"></div>
        
    </div>

    </div>
  </body>
</html>