{% macro build_card(card_type, i=1) %}
    {% set desc = card_type.get_description() %}
    {% set cat = card_type.get_category() %}
    {% set short_desc = desc|length < 800 and desc.count('\n') < 8 %}
    <div class="card">
        <div class="card-header">
            <div class="card-title" title="{{card_type.get_cost_breakdown()}}">
                <span class="card-name">{{ card_type.human_name() }}</span>
                <span class="card-cost">
                    {{ card_type.get_cost() if card_type.get_cost()|abs > 0.5 else ""}}
                </span>
            </div>
            {% if cat !=  "Loss" %}
                <i class="card-category">{{ cat }}</i>
            {% endif %}
        </div>
        {% if short_desc %}
            <div style="width: 100%; overflow: hidden;">
                <img src="images/{{ card_type.name }}.png" class="card-image">
            </div>
        {% else %}
            <div style="height: 3.7em"></div>
        {% endif %}
        <div class="card-body {{'long-desc' if not short_desc else ""}}">
            <span class='{{cat.lower()}} card-desc'>{{desc}} </span>
        </div>
        <div class="card-footer">{{ card_type.flavor_text }}</div>
        {# {% if card_type.is_real() %}
            <span class="card-index"> {{ card_type.index }}/100 </span>
        {% endif %} #}
    </div>
{% endmacro %}
