{% macro build_card(card_type, i=1) %}
    {% set desc = card_type.get_description() %}
    {% set cat = card_type.get_category() %}
    {% set short_desc = desc|length < 800 and desc.count('\n') < 8 %}
    <div class="card">
        <div class="card-header">
            <span class="card-name">{{ card_type.human_name() }}</span>
            <span class="card-cost"  title="{{card_type.get_cost_breakdown()}}">
                {{ card_type.get_cost() if card_type.get_cost()|abs > 0.5 else "-"}}
            </span>
        </div>
        {% if cat !=  "Loss" %}
            <i class="card-category">{{ cat }}</i>
        {% endif %}
        {% if short_desc %}
            <img src="images/{{ card_type.name }}-{{i}}.png" class="card-image">
        {% endif %}
        <div class="card-body {{'long-desc' if not short_desc else ""}}">
            <span id="{{card_type.kebab_name()}}-card-desc" class='{{cat.lower()}}'>{{desc}} </span>
        </div>
        <div class="card-footer">{{ card_type.flavor_text }}</div>
    </div>

    <script>
        // change size of just the totally blank lines in desc
        document.addEventListener("DOMContentLoaded", function() {
            if ({{ 'false' if cat == "Loss" else 'true' }}) {
                return;
            }
            const textContainer = document.getElementById(
                "{{card_type.kebab_name()}}-card-desc");
            const lines = textContainer.innerHTML.split('\n');

            const adjustedLines = lines.map(line => {
                if (line.trim() === '') {
                    return '<div class="blank-line"></div>';
                } else {
                    return "<div>"+line.trim()+"</div>";
                }
            });

            textContainer.innerHTML = adjustedLines.join('');
        });
    </script>
{% endmacro %}
