<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="dark-mode-toggle.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <button id="dark-toggle">🌞</button>
    {% from "_card.j2" import build_card %}

    <h2> All {{Card.sorted_types()|length}} Cards </h2>
    <div class="cards-container">
        {% for card_type in Card.sorted_types() %}
            {% for i in range(card_type.count) %}
                {{  build_card(card_type, i+1) }}
            {% endfor %}
        {% endfor %}
    </div>

    {% set detailed_info, best_info = Anubis.status_totals() %}
    <hr>
    <h2> Balance Recommendations </h2>
    <div class="col-info">{{ best_info }}</div>
    <hr>
    <h2> Category Totals </h2>
    <div class="col-info">{{ Anubis.category_totals() }}</div>
    <hr>
    <h2> Balance Totals </h2>
    <div class="col-info">{{ detailed_info }}</div>

    <h2> Part Totals </h2>
    <div class="col-info">{{ Anubis.part_totals() }}</div>

    <div style="white-space: pre-line;">
        <h2> Rules </h2>
        At the start of your turn, if you are airborne, move yourself downwards until some part of you touches the ground.
        You can, however, be airborne during and at the end of your turn (and thus during your opponents turn).

        Reactions are played as the enemy is playing a card against you. They will often require you to see if you can move a limb to block. If you can't complete that requirement, move the limb you tried back to where it was, and put the reaction back in your hand.

        You can be in multiple stances at once, e.g.: a low squat could be 'crouching' or 'sitting'.
        This means you can play cards that apply to either.
        (For something like 'Keep Breathing', you can choose the better stance, but not stack multiple.)

        {# TODO other rules #}
        # TODO make these lose cards, because why not.
        Could even, if I wanted, write 2, one for each player.
    </div>

</body>
</html>
