<!DOCTYPE html>
<html>
<head>
    {% include "_head.j2" %}
</head>
{% from "_card.j2" import build_card %}
<body>
    <div class="cards-container" style="margin: 2em">
        {% for card_type in Card.rule_cards() %}
            {% for i in range(card_type.count) %}
                {{  build_card(card_type, i+1) }}
            {% endfor %}
        {% endfor %}
    </div>

    <script>
        function adjustLines(ele) {
            const lines = ele.innerHTML.split('\n');
            const adjustedLines = lines.map(line => {
                if (line.trim() === '') {
                    return '<div class="blank-line"></div>';
                } else {
                    return "<div>"+line.trim()+"</div>";
                }
            });

            ele.innerHTML = adjustedLines.join('');
        }
        // change size of just the totally blank lines in desc
        document.addEventListener("DOMContentLoaded", function() {
            const elements = document.querySelectorAll(
                '.loss.card-desc');
            elements.forEach(ele => adjustLines(ele));
        });
    </script>

</body>
</html>
