<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="dark-mode-toggle.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="font-size: 1.3em; padding: 0em; margin: 0em;">

{# <meta http-equiv="refresh" content="20"> #}
{% for url in ImageGen.list_recent()[:10] %}
<img src="{{ url }}" style="max-width: 49%; display: initial;" alt="Generated Image">
{% endfor %}

</body>
